.img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-width: 100%;
  user-select: none;
}

.imgContainer {
  position: relative;
  user-select: none;
  display: none;
  /* padding: 50px; */
}

.absDiv {
  border: 2px solid black;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  user-select: none;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choiceImg {
  width: 100px;
  height: 100px;
}

.testingDiv {
  width: 20px;
  height: 20px;
  border: 5px solid red;
  position: absolute;
}

@media (max-width: 700px) {
  .absDiv {
    padding: 5px;
  }
  .choiceImg {
    width: 50px;
  }
  .testingDiv {
    border: 3px solid red;
  }
}

.loading {
  display: flex;
  justify-content: center;
}
